* {
  box-sizing: border-box;
}

body {
  font-family: Fraunces, serif;
  background-color: white;
  margin: auto;
}

.head {
  background-image: url(./images/travel-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  color: white;
}

header {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.head a {
  text-decoration: none;
  color: white;
}

.blog-nav nav ul {
  display: flex; 
  flex-wrap: wrap;
  list-style-type: none;
}

.blog-nav nav ul li {
  padding: 0px;
}

.blog-nav nav ul li a{
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav ul li a {
  font-weight: 500;       
}

.blog-nav nav ul li a:hover {
  background-color: #1ABC9C;
}

footer a:hover {
  color: white;
  font-size: larger;
  transition: color 0.3s ease;
}

input[type=search] {
  width: 400px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
}

input[type=search]:hover {
  cursor: pointer;
}

.head h1 {
  width: fit-content;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.head p {
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 80px;
  margin-bottom: 60px;
}

.container img {
  width: 100%;
  border-radius: 3px;
}

.content {
  color: rgb(15, 15, 15);
  width: 300px;
  margin-top: 50px;
  padding: 15px;
  border: 1px solid rgb(214, 212, 212);
  border-radius: 3px;
}

.content:hover {
  cursor: pointer;
  background-color: rgb(197, 195, 195);
}

h3 {
  margin-top: -10px;
}
h5 {
  margin-top: -2px;
  color: #a1a1a1;
}


footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 70px;
  background-color: #11866f;
  padding: 1.5rem 5rem;
}

footer ul {
  list-style-type: none;
  justify-content: left;
  text-align: left
}

footer li {
  padding: 5px;
}

.icon i {
  display: block;
  padding: 10px;
  margin-top: 5px;
  word-spacing: 5px;
}

.icon a {
  color: rgb(32, 32, 32);
}

@media (max-width: 600px) {
  header nav ul li {
    padding: 10px;
  }

  header nav ul {
    min-width: 400px;
    position: relative;
    left: -40px;
    width: 100%;
    margin-bottom: 10px;
  }

  .blog-nav {
    position: static;
  }

  .blog-nav nav ul li {
    padding: 10px;
  }

  .blog-nav {
    width: 100%;
  }

  input[type=search] {
    width: 200%;
    margin-top: 20px;
  }

  .container {
    display: block;
    margin: 40px auto;
  }

  .content {
    background-color: rgba(243, 233, 233, 0.822);
  }

  footer {
    gap: 0;
    padding: 0;
    justify-content: space-evenly;
  }

  .footer-nav {
    width: fit-content;
    padding: 0;
  }

  .icon i {
    font-size: medium;
  }
}